#container{
  display: grid;
  grid-template-columns: 1;
  background-color: azure;
  margin-left: 10px;

  max-width: 970px;
}
section{
  /* outline: 5px solid black; */
  margin-top: 15px;
  margin-bottom: 15px;
}
#sectionOne{
max-height: 240px;
padding: 20px;
}
.navBar{
  padding: 35px;
}
#sectionTwo{

}
#midTwo{
  margin-left: 30px;
  margin-right: 30px;
}
#sectionThree{

}
#sectionFour{

}
#sectionFive{

}