#container{
  display: grid;
  grid-template-columns: 1;
  background-color: azure;
  margin-left: 10px;

  max-width: 970px;
}
section{
  /* outline: 5px solid black; */
  margin-top: 15px;
  margin-bottom: 15px;
}
h1{
  font-size: 30px;
}
#sectionOne{
max-height: 240px;
padding: 20px;
}
.navBar{
  padding: 35px;
}
#sectionTwo{

}
#midTwo{
  margin-left: 30px;
  margin-right: 30px;
}
#sectionThree{

}
#sectionFour{
  /* display: inline-block; */
}
#fourPicture{
  display:inline-block;
}
#fourArticle{
  display:inline-block;
  max-width: 400px;
  max-height: 300px;
  margin-left: 30px;
  
}
#fourP{
  max-width: 400px;
  max-height: 300px;
  overflow: scroll;
  padding-top: 15px;
  padding-bottom: 15px;
}
#fourButton{
  display:inline-block;
  width: 200px;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 10px;
}
#sectionFive{

}